/*this page will be used only by the landing page*/
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "lucida console", Monaco, monospace;
  color: #FAFAFA;
}

h1.title {
  font-size: 120px;
}

.difficulty-container select {
  margin-top: 20px;
  height: 55px;
  width: 200px;
  border-radius: 4px;
  border: 3px solid #EB5168;
  /*outline: none;*/
  transition: border-color 0.2s;
  background: #FAFAFA;
  /*line-height: normal;*/
  /*font-family: inherit;*/
  /*font-size: inherit;*/
  /*line-height: inherit;*/
}

.difficulty-container button {
  margin-top: 15px;
  padding: 3px;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  background-color: darkcyan;
}

.containerIndex {

  height: 100vh;
  width: 100vw;
  background: url(../images/background.png) no-repeat fixed center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.cont-difficulty button {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 4px;
  background-color: firebrick;
  color: #FAFAFA;
}

/*this is not working, will have to come back to it*/
.cont-difficuty button:hover {
  color: black;
}
/*styling the game board div*/
.gameBoard {
  height: 360px;
  width: 360px;
  /*border: 1px dotted red;*/
  display: flex;
  /*flex used to space out columns */
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

/*styling the rows inside the gameBoard*/
.row {
  /*height: 30%;*/
  /*width: 100%;*/
  /*border: 1px dotted blue;*/
  /*maybe I should use flex box for spacing*/
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.cell {
  /*height: 40px;*/
  /*width: 40px;*/
  border: 1px dotted green;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10%;
}

.containerAll {
  border: 1px dotted green;
  height: 0;
  width: 0;
  box-sizing: border-box;
}



.containerGame {
  background-color: yellow;
  /*border: 1px dotted pink;*/
  height: 360px;
  box-sizing: border-box;
}

.covered {
  background-color: gray;
  color: gray;
}

.uncovered {
  background-color: lightblue;
  color: black;
}

.flagged {
  background-image: url(./images/flag.png);
  background-size: cover;
}

.flag {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/*.insideTextHidden {
  visibility: hidden;
}*/

#counter {
  height: 80%;
  width: 25%;
  background-color: red;
  font-family: helvetica;
  color: #FFFFFF;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding-left: .5em;
}

/*styling for the happy or sad face*/
#resetButton {
  height: 90%;
  width: 35%;
  background-color: yellow;
}

#timer {
  height: 80%;
  width: 25%;
  /*background-color: blue;*/
  font-family: helvetica;
  color: #FFFFFF;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-right: .5em;
}

/*media queries for responsive design*/
@media (max-width: 1080px) {

}


@media (max-width: 850px) {

  h1.title {
    font-size: 80px;
  }
}


.border {
  border: 1px solid red;
}

