

/*styling the game board div*/
.gameBoard {
  height: 360px;
  width: 360px;
  border: 1px dotted red;
  display: flex;
  /*flex used to space out columns */
  flex-direction: column;
  justify-content: space-around;
}

/*styling the rows inside the gameBoard*/
.row {
  height: 30%;
  width: 100%;
  border: 1px dotted blue;
  /*maybe I should use flex box for spacing*/
  display: flex;
  justify-content: space-around;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px dotted orange;
}
